@implements IAsyncDisposable
@if (TotalPages < 2)
{
	return;
}
<div class="flex gap-5 items-center py-1">
	<Button Disabled="@(CurrentPage == 1)" OnClick="@(() => ChangePage(Direction.Previous))">
		<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
	</Button>
	<p>@string.Format(Translations.PAGINATION_INFO, CurrentPage, TotalPages)</p>
	<Button Disabled="@(CurrentPage == TotalPages)" OnClick="@(() => ChangePage(Direction.Next))">
		<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
	</Button>
</div>

@code {
	[Inject] private IJSRuntime JsRuntime { get; set; } = null!;
	
	[Parameter] public int ItemsPerPage { get; set; }
	[Parameter] public int? ItemCount { get; set; }
	
	[Parameter] public int CurrentPage { get; set; }
	[Parameter] public EventCallback<int> CurrentPageChanged { get; set; }
	
	private DotNetObjectReference<Pagination> _dotNetReference = null!;
	private IJSObjectReference? _module = null!;
	
	private int TotalPages => (int)Math.Ceiling(decimal.Divide(ItemCount ?? 1, ItemsPerPage));

	private enum Direction
	{
		Previous,
		Next
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			_dotNetReference = DotNetObjectReference.Create(this);
			_module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/Remote/Partials/Pagination.razor.js");
			await _module.InvokeVoidAsync("SetDotNetReference", _dotNetReference);
		}
	}

	private void ChangePage(Direction direction)
	{
		if (direction == Direction.Previous)
		{
			if (CurrentPage > 1)
			{
				CurrentPage--;
			}
		}
		else
		{
			if (CurrentPage < TotalPages)
			{
				CurrentPage++;
			}
		}
		CurrentPageChanged.InvokeAsync(CurrentPage);
	}
	
	[JSInvokable("OnKeyDown")]
	public void OnKeyDown(string key)
	{
		switch (key)
		{
			case "PageDown":
				ChangePage(Direction.Next);
				break;
			case "PageUp":
				ChangePage(Direction.Previous);
				break;
		}
	}

	public async ValueTask DisposeAsync()
	{
		if (_module is not null)
		{
			await _module.DisposeAsync();
			_dotNetReference.Dispose();
		}
	}

}