@page "/books"
@using BookHeaven.Domain.Enums
@using BookHeaven.Reader.Components.Pages.Books.Components
@layout BooksLayout
@if (!_initialized)
{
    <Message Content="Loading your library..." />
}
else
{
    if(BookManager.Books.Count == 0)
    {
        <Message Content="@Translations.NO_BOOKS_FOUND" OnButtonClick="@(() => NavigationManager.NavigateTo("/books/remote"))">
            <ButtonContent>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-book-download"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 20h-6a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12v5" /><path d="M13 16h-7a2 2 0 0 0 -2 2" /><path d="M15 19l3 3l3 -3" /><path d="M18 22v-9" /></svg>
                Download books
            </ButtonContent>
        </Message>
        return;
    }

    <BookInfo @bind-Book="_selectedBook"></BookInfo>


    <ContextMenu Id="BookMenu" Context="context" OverrideDefaultCssClass="absolute rounded border bg-white">
        @{
            var book = (Book)context.Data;
        }
        <Item OnClick="@(() => _selectedBook = book)">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="me-2 icon icon-tabler icons-tabler-outline icon-tabler-info-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M12 9h.01" /><path d="M11 12h1v4h1" /></svg>
            @Translations.INFO
        </Item>
        @if (book.ReadingStatus() != BookStatus.Finished)
        {
            <Item OnClick="@(() => BookManager.MarkAsFinished(book))">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="me-2 icon icon-tabler icons-tabler-outline icon-tabler-check"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                Mark as finished
            </Item>
        }
        else if (book.ReadingStatus() != BookStatus.New)
        {
            <Item OnClick="@(() => BookManager.MarkAsNew(book))">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="me-2 icon icon-tabler icons-tabler-outline icon-tabler-restore"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3.06 13a9 9 0 1 0 .49 -4.087" /><path d="M3 4.001v5h5" /><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
                Mark as new
            </Item>
        }
        <Item OnClick="@(() => BookManager.DeleteBook(book))">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="me-2 icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 -4h12l1 4" /><path d="M6 7l0 14a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l0 -14" /></svg>
            Delete
        </Item>
    </ContextMenu>

    <RadioButtonGroup Class="mx-3 mt-3" TOption="@Filter" @bind-SelectedOption="_selectedFilter" />

    <div class="grid grid-cols-[repeat(auto-fill,120px)] justify-evenly gap-2 p-3">
        @if (FilteredBooks.Count == 0)
        {
            <Message Content="@Translations.BOOKS_NO_FILTER_MATCH"/>
        }
        else
        {
            foreach (var book in FilteredBooks) {
                <ContextMenuTrigger CssClass="relative" MenuId="BookMenu" Data="@book">
                    <a class="h-full flex flex-col rounded overflow-hidden active:bg-neutral-200 active:outline-4 active:outline-neutral-200" href="/reader/@book.BookId" draggable="false">
                        <div class="cover h-[190px] w-full rounded overflow-hidden">
                            <img class="h-full w-full" src="@book.GetCoverAsBase64(MauiProgram.CoversPath)" draggable="false" alt=""/>
                            <span class="absolute -top-[1px] right-[2px] w-[40%] font-bold">
                                <img src="/progress-badge.svg" class="w-full align-top" alt=""/>
                                <span class="absolute inset-0 text-[.6rem] text-center">
                                    @if (book.ReadingStatus() != BookStatus.New)
                                    {
                                        @book.Progress().Progress.ToString("0.##")@:%
                                    }
                                    else
                                    {
                                        @Translations.NEW
                                    }
                                </span>
                            </span>
                        </div>
                        <div class="text-xs p-1">@book.Title</div>
                    </a>
                </ContextMenuTrigger>
            }
        }
    </div>
}