@page "/books/remote"
@using BookHeaven.Reader.Components.Pages.Remote.Partials
@layout BooksLayout

@if (!_canConnect)
{
    <Message Content="@Translations.CONNECTION_FAILED" ExtraInfo="@AppStateService.ServerUrl" OnButtonClick="@OnButtonClick">
        <ButtonContent>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-reload"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.933 13.041a8 8 0 1 1 -9.925 -8.788c3.899 -1 7.935 1.007 9.425 4.747" /><path d="M20 4v5h-5" /></svg>
            @Translations.RETRY
        </ButtonContent>
    </Message>
    return;
}
<div class="flex h-full flex-col bg-[lightgray]">
    <div class="my-2 ms-3">
        <div class="flex items-center gap-3">
            <div class="col-auto">
                <select @bind="@_selectedFilter" @bind:after="FilterChanged" class="form-select">
                    <option value="@Filters.All" selected>@Domain.Localization.Translations.ALL_M</option>
                    <option value="@Filters.Author">@Translations.BY_AUTHOR</option>
                    <option value="@Filters.Missing">@Translations.BY_MISSING</option>
                </select>
            </div>
            @if (_selectedFilter == Filters.Author && _authors is { Count: > 0 })
            {
                <div class="col-auto">
                    <select @bind="@_selectedAuthor" @bind:after="FilterChanged" class="form-select">
                        @foreach (var author in _authors!)
                        {
                            <option value="@author.AuthorId">@author.Name</option>
                        }
                    </select>
                </div>
            }
        </div>
    </div>
    <div class="flex-1 overflow-hidden">
        @if (_filteredBooks == null)
        {
            <Message Content="@Translations.LOADING"/>
        }
        else if (_filteredBooks.Count == 0)
        {
            <Message Content="@Translations.BOOKS_NO_FILTER_MATCH"/>
        }
        else
        {
            <div class="grid h-full grid-cols-1 grid-rows-6 gap-2 px-2 xs:grid-cols-2 xs:grid-rows-3">
                @foreach (var book in CurrentPageBooks)
                {
                    <RemoteBook Book="@book" ServerService="@ServerService" OnBookDownloaded="FilterBooks"/>
                }
            </div>
        }
    </div>
    @if (_filteredBooks != null)
    {
        <div class="flex justify-center">
            <Pagination
                ItemCount="@_filteredBooks?.Count"
                ItemsPerPage="ItemsPerPage"
                @bind-CurrentPage="_currentPage" />
        </div>
        
    }
   
</div>


