@implements IDisposable
@inject NavigationManager NavigationManager

<div class="z-[1000] absolute inset-0 flex flex-col justify-between" @onclick="OverlayService.ToggleOverlay">
    <div class="border-solid border-bottom border-b-2 mb-auto flex w-full items-center gap-3 border-black bg-white" @onclick:stopPropagation="true">
        <Button OnClick="@(() => NavigationManager.NavigateTo("/books"))">
            <i class="bi bi-arrow-left text-xl"></i>
        </Button>
        <span class="ms-auto me-2">@BookTitle</span>
    </div>
    
    <div>
        @if (OverlayService.CurrentOverlayPanel == OverlayService.OverlayPanel.FontSettings)
        {
            <TextSettings ProfileSettings="ProfileSettings"/>
        }
        @if (OverlayService.CurrentOverlayPanel == OverlayService.OverlayPanel.PageSettings)
        {
            <PageSettings ProfileSettings="ProfileSettings"/>
        }
        <div class="border-solid border-t-2 w-full border-black bg-white" @onclick:stopPropagation="true">
            <div class="flex items-center gap-3 px-2">
                <Button OnClick="@(() => GoToChapter.InvokeAsync(NavigationButton.Previous))">
                    <i class="bi bi-chevron-double-left text-xl"></i>
                </Button>
                <Progress Value="@((double)Progress)"/>
                <Button OnClick="@(() => GoToChapter.InvokeAsync(NavigationButton.Next))">
                    <i class="bi bi-chevron-double-right text-xl"></i>
                </Button>
            </div>
            <div class="flex items-center gap-3 px-2">
                <Button OnClick="@OverlayService.ToggleToc">
                    <i class="bi bi-list-ol text-xl"></i>
                </Button>
                <span class="flex-1">@ChapterTitle</span>
                <Button OnClick="@(() => OverlayService.TogglePanel(OverlayService.OverlayPanel.FontSettings))">
                    <i class="bi bi-type text-xl"></i>
                </Button>
                <Button OnClick="@(() => OverlayService.TogglePanel(OverlayService.OverlayPanel.PageSettings))">
                    <i class="bi bi-gear text-xl"></i>
                </Button>
            </div>
        </div>
    </div>
</div>
