@using BookHeaven.EbookManager.Entities
@implements IAsyncDisposable
@if (Entry.Title != null)
{
    <span id="@Entry.Id" class="flex items-center scroll-mt-40 w-full">
        @if (Entry.Entries.Count > 0)
        {
            <Button OnClick="@ToggleCollapse">
                @if (_collapsed)
                {
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
                }
                else
                {
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 9l6 6l6 -6" /></svg>
                }
            </Button>
        }
        <Button Class="@(_isSelected.Then("font-bold") + " text-left w-full !justify-start")" OnClick="@(() => ReaderService.OnChapterSelected?.Invoke(Entry.Id!))">@Entry.Title</Button>
    </span>
}

@if (Entry.Entries.Count > 0)
{
    if (!_collapsed || Entry.Title == null)
    {
        <ul class="ms-5 list-none">
            @foreach (var chapter in Entry.Entries)
            {
                <li>
                    <TableOfContentsEntry Entry="chapter" CurrentChapterId="@CurrentChapterId" />
                </li>
            }
        </ul>
    }
}

@code {
    [Inject] IJSRuntime JsRuntime { get; set; } = null!;
    [Inject] ReaderService ReaderService { get; set; } = null!;
    
    [Parameter] public TocEntry Entry { get; set; } = null!;

    [Parameter] public string? CurrentChapterId { get; set; }

    //[Parameter] public EventCallback<string> OnChapterSelected { get; set; }
    
    private IJSObjectReference? _jsModule;
    private bool _collapsed = true;
    private bool _isSelected = false;
    private bool _shouldScroll;

    private string? _lastSelectedChapterId = null;

    protected override void OnInitialized()
    {
        if (Entry.Entries.Count > 0) _collapsed = !Entry.ContainsEntry(CurrentChapterId!);
    }
    
    protected override void OnParametersSet()
    {
        if (Entry.Id != null) _isSelected = CurrentChapterId == Entry.Id;

        if (_isSelected && _lastSelectedChapterId != Entry.Id)
        {
            _shouldScroll = true;
            _lastSelectedChapterId = Entry.Id;
        }
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/Reader/Partials/TableOfContentsEntry.razor.js");
        }
        if (_shouldScroll && _jsModule is not null)
        {
            _shouldScroll = false;
            await _jsModule!.InvokeVoidAsync("ScrollToChapterInIndex", CurrentChapterId);
        }
    }

    

    private void ToggleCollapse()
    {
        _collapsed = !_collapsed;
    }
    
    public async ValueTask DisposeAsync()
    {
        if (_jsModule != null) await _jsModule.DisposeAsync();
    }

}