@if (EpubChapter.Title != null)
{
    <span id="@EpubChapter.ItemId" class="flex items-center scroll-mt-40">
        @if (EpubChapter.Chapters.Count > 0)
        {
            <Button OnClick="@ToggleCollapse">
                <i class="bi @(_collapsed ? "bi-chevron-right" : "bi-chevron-down")"></i>
            </Button>
        }
        <Button Class="@(_isSelected.Then("font-bold") + " text-left")" OnClick="@(() => OnChapterSelected.InvokeAsync(EpubChapter.ItemId))">@EpubChapter.Title</Button>
    </span>
}

@if (EpubChapter.Chapters.Count > 0)
{
    if (!_collapsed || EpubChapter.Title == null)
    {
        <ul class="ms-5 list-none">
            @foreach (var chapter in EpubChapter.Chapters)
            {
                <li>
                    <TableOfContentsEntry EpubChapter="chapter" CurrentChapterId="@CurrentChapterId" OnChapterSelected="@OnChapterSelected" DoScroll="@DoScroll"/>
                </li>
            }
        </ul>
    }
}