@page "/apps"
@using AppInfo = BookHeaven.Reader.Entities.AppInfo
@inject IAppsService AppsService

<SectionContent SectionName="Header">
    <RadioButtonGroup Class="m-3" TOption="@SortBy" @bind-SelectedOption="_sortBy" @bind-SelectedOption:after="Sort" />
</SectionContent>

@if (_apps.Count > 0)
{
    <ContextMenu Id="AppMenu" Context="appContext" OverrideDefaultCssClass="absolute rounded border bg-white">
        @{
            var app = (AppInfo)appContext.Data;
        }
        <Item OverrideDefaultCssClass="p-2">@app.Name</Item>
        <Item OnClick="@(() => AppsService.OpenApp(app.PackageName!))">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="me-5 icon icon-tabler icons-tabler-outline icon-tabler-external-link"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" /></svg>
            @Translations.OPEN
        </Item>
        <Item OnClick="@(() => AppsService.OpenInfo(app.PackageName!))">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="me-5 icon icon-tabler icons-tabler-outline icon-tabler-info-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M12 9h.01" /><path d="M11 12h1v4h1" /></svg>
            @Translations.INFO
        </Item>
        @if (AppsService.CanBeUninstalled(app.PackageName!))
        {
            <Item OnClick="@(() => AppsService.UninstallApp(app.PackageName!))">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="me-5 icon icon-tabler icons-tabler-outline icon-tabler-trash-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7h16" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /><path d="M10 12l4 4m0 -4l-4 4" /></svg>
                @Translations.UNINSTALL
            </Item>
        }
    </ContextMenu>

    <div class="grid grid-cols-6 auto-rows-fr gap-4 p-4 pt-1">
        @foreach (var app in _filteredApps)
        {
            <ContextMenuTrigger MenuId="AppMenu" Data="@app">
                <div class="grid p-1 gap-0.5 h-full rounded active:bg-neutral-200 active:outline-4 active:outline-neutral-200" @onclick="@(() => AppsService.OpenApp(app.PackageName!))">
                    <img src="data:image/png;base64,@app.IconBase64" class="mx-auto w-16" alt="App icon" draggable="false"/>
                    <span class="text-sm line-clamp-2 text-center p-1">@app.Name</span>
                </div>
            </ContextMenuTrigger>
        }
    </div>
}