@page "/books"
@layout BooksLayout

@if (_books.Count == 0)
{
    <Message Content="@Translations.NO_BOOKS_FOUND"/>
    return;
}

<RadioButtonGroup Class="mx-3 mt-3" TOptions="@Filter" OnChange="FilterBooks"/>

<div id="shelf" class="p-3">
    @if (_filteredBooks.Count == 0)
    {
        <Message Content="@Translations.BOOKS_NO_FILTER_MATCH"/>
    }
    else
    {
        @foreach (var book in _filteredBooks)
        {
            var progress = book.Progresses.First();
            <a class="flex flex-col items-center" href="/reader/@book.BookId">
                <div class="cover h-[190px] relative w-full">
                    <img class="h-full w-full" src="/covers/@(book.BookId).jpg" alt="Book cover"/>
                    <span class="progress-badge absolute right-0 font-bold">
                        <img src="/progress-badge.svg" class="w-full align-top"/>
                        @if (progress.ElapsedTime != TimeSpan.Zero)
                        {
                            <span>@book.Progresses.First().Progress.ToString("0.##")%</span>
                        }
                        else
                        {
                            <span>@Translations.NEW</span>
                        }
                    </span>

                </div>
                <div class="title">@book.Title</div>
            </a>
        }
    }

</div>