@page "/setup"
@using BookHeaven.Domain.Features.Profiles
@layout EmptyLayout
@if (!_initialized)
{
    <Message Content="@Translations.LOADING"/>
}
else
{
    <div class="w-screen h-screen flex flex-col items-center justify-center">
        <div class="w-[70%] flex-1 flex flex-col mt-20 text-center">
            <img class="w-[200px] mx-auto" src="/logo.svg" alt="Logo"/>
            <h1 class="mt-10 text-xl">@string.Format(Translations.WELCOME, "BookHeaven")</h1>
            <p class="mt-2">@Translations.SET_UP</p>
            
            <div class="my-auto">
                @switch (_state)
                {
                    case PageState.Discovery:
                        <p>@Translations.SEARCHING_SERVERS...</p>
                        break;
                    case PageState.Success:
                        <p class="font-bold">@Translations.CONNECTION_ESTABLISHED</p>
                        <p class="mt-5">@Translations.INITIALIZING...</p>
                        break;
                    case PageState.DiscoveryFailed:
                        <p class="font-bold">@Translations.NO_SERVERS_FOUND</p>
                        <div class="flex items-center justify-center mt-6 gap-2">
                            <Button OnClick="@Discover" Kind="Button.ButtonType.Secondary">@Translations.RETRY</Button>
                            <Button OnClick="() => _state = PageState.Manual" Kind="Button.ButtonType.Secondary">@Translations.MANUAL_CONNECTION</Button>
                        </div>
                        break;
                    case PageState.Error:
                    case PageState.Manual:
                        <p>@Translations.ENTER_SERVER_URL</p>
                        <input type="text" class="mt-2 w-full p-2 border border-black rounded" @bind="@AppStateService.ServerUrl" placeholder="https://yourbookheaven.com"/>
                        <Button Class="mx-auto mt-6" OnClick="@CheckConnection" Kind="Button.ButtonType.Secondary">@Translations.CONTINUE</Button>
                        if(_state == PageState.Error)
                        {
                            <p class="mt-2 font-bold">@Translations.CONNECTION_FAILED</p>
                        }
                        break;
                    case PageState.Connecting:
                        <svg aria-hidden="true" role="status" class="inline mt-6 h-10 w-10 animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                        </svg>
                        break;
                    
                }
            </div>
        </div>
        <small class="mt-auto w-[70%] text-center mb-5">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-alert-triangle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 1.67c.955 0 1.845 .467 2.39 1.247l.105 .16l8.114 13.548a2.914 2.914 0 0 1 -2.307 4.363l-.195 .008h-16.225a2.914 2.914 0 0 1 -2.582 -4.2l.099 -.185l8.11 -13.538a2.914 2.914 0 0 1 2.491 -1.403zm.01 13.33l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007zm-.01 -7a1 1 0 0 0 -.993 .883l-.007 .117v4l.007 .117a1 1 0 0 0 1.986 0l.007 -.117v-4l-.007 -.117a1 1 0 0 0 -.993 -.883z" /></svg>
            @Translations.HTTPS_RECOMMENDED.<br/>@Translations.HTTPS_RECOMMENDED_INFO.
        </small>
    </div>
}


@code {
    [Inject] UdpBroadcastClient UdpBroadcastClient { get; set; } = null!;
    [Inject] ISender Sender { get; set; } = null!;
    [Inject] AppStateService AppStateService { get; set; } = null!;
    [Inject] NavigationManager NavigationManager { get; set; } = null!;
    [Inject] IServerService ServerService { get; set; } = null!;

    private bool _initialized;

    private enum PageState
    {
        Discovery,
        DiscoveryFailed,
        Manual,
        Connecting,
        Error,
        Success
    }
    private PageState _state = PageState.Discovery;
    
    private const int FakeDelay = 2000;

    protected override async Task OnInitializedAsync()
    {
        if(AppStateService.ProfileId != Guid.Empty)
        {
            NavigationManager.NavigateTo("/books");
            return;
        }
        _initialized = true;
        StateHasChanged();
        await Discover();
    }

    private async Task Discover()
    {
        _state = PageState.Discovery;
        StateHasChanged();
        var getServerUrl = await UdpBroadcastClient.StartAsync();
        await Task.Delay(FakeDelay);
        if (getServerUrl.IsSuccess)
        {
            AppStateService.ServerUrl = getServerUrl.Value;
            await CheckConnection();
        }
        else
        {
            AppStateService.ServerUrl = string.Empty;
            _state = PageState.DiscoveryFailed;
        }
        StateHasChanged();
    }

    private async Task CheckConnection()
    {
        _state = PageState.Connecting;
        StateHasChanged();
        await Task.Delay(FakeDelay);
        if (!await ServerService.CanConnect())
        {
            _state = PageState.Error;
            return;
        }
        _state = PageState.Success;
        StateHasChanged();
        
        var serverProfiles = await ServerService.GetAllProfiles();
        foreach (var profile in serverProfiles)
        {
            await Sender.Send(new AddProfile.Command(profile));
            if (!profile.Name.Equals("Default")) continue;
            AppStateService.ProfileId = profile.ProfileId;
            break;
        }
        NavigationManager.NavigateTo("/books");
    }

}