@page "/setup"
@layout EmptyLayout

@if (!_initialized)
{
    <Message Content="@Translations.LOADING"/>
    return;
}

<div class="w-screen h-screen flex items-center justify-center">
    <div class="w-[70%] text-center grid justify-items-center">
        <img class="w-[200px]" src="/logo.svg" alt="Logo"/>
        @if(_checkState == ConnectionState.Success)
        {
            <p class="mt-10">@Translations.CONNECTION_ESTABLISHED. @Translations.INITIALIZING...</p>
        }
        else
        {
            <h1 class="mt-10 text-xl">@string.Format(Translations.WELCOME, "BookHeaven")</h1>
            <p class="mt-2">@Translations.SET_UP</p>
            <p class="mt-10">@Translations.ENTER_SERVER_URL</p>
            <input type="text" class="border-2 mt-2 w-full rounded border-gray-400 p-2.5 focus:ring-black-500" placeholder="https://yourbookheaven.com" @bind="AppStateService.ServerUrl"/>
            <small>@Translations.HTTPS_ONLY</small>
            @*<select class="border-2 mt-2 rounded border-gray-400 p-2.5 focus:ring-black-500">
                <option>@Translations.LANG_EN</option>
                <option>@Translations.LANG_ES</option>
            </select>*@
            @switch (_checkState)
            {
                case ConnectionState.Unchecked:
                    <Button OnClick="CheckConnection" Class="mx-auto mt-6 block" Kind="Button.ButtonType.Secondary">@Translations.CONTINUE</Button>
                    break;
                case ConnectionState.Checking:
                    <svg aria-hidden="true" role="status" class="inline mt-6 h-10 w-10 animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
                    </svg>
                    break;
                case ConnectionState.Error:
                    <Button OnClick="CheckConnection" Class="mx-auto mt-6 block" Kind="Button.ButtonType.Secondary">@Translations.RETRY</Button>
                    <p class="mt-2">@Translations.Connection_failed.<br/>@Translations.CHECK_THE_URL.</p>
                    break;
            }
        }
        
    </div>
</div>


@code {
    [Inject] IDatabaseService DatabaseService { get; set; } = null!;
    [Inject] AppStateService AppStateService { get; set; } = null!;
    [Inject] NavigationManager NavigationManager { get; set; } = null!;
    [Inject] IServerService ServerService { get; set; } = null!;

    private enum ConnectionState
    {
        Unchecked,
        Checking,
        Error,
        Success
    }

    private bool _initialized;
    private ConnectionState _checkState = ConnectionState.Unchecked;
    // LocalSettings? _settings;

    protected override void OnInitialized()
    {
        if(AppStateService.ProfileId != Guid.Empty)
        {
            NavigationManager.NavigateTo("/books");
            return;
        }
        AppStateService.ServerUrl = "https://bookheaven.ggarrido.dev";
        _initialized = true;
    }

    private async Task CheckConnection()
    {
        _checkState = ConnectionState.Checking;
        StateHasChanged();
        if (!await ServerService.CanConnect(AppStateService.ServerUrl))
        {
            _checkState = ConnectionState.Error;
            return;
        }
        _checkState = ConnectionState.Success;
        StateHasChanged();

        var serverProfiles = await ServerService.GetAllProfiles();
        foreach (var profile in serverProfiles)
        {
            await DatabaseService.AddOrUpdate(profile);
            await DatabaseService.SaveChanges();
            if (!profile.IsSelected) continue;
            AppStateService.ProfileId = profile.ProfileId;
            break;
        }
        NavigationManager.NavigateTo("/books");
    }

}